body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(image/halloween4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container .column {
    background-color: transparent;
    max-width: 1000px;
    margin: auto;
}


/* costume page */
/* login dropdown page*/
.ui.pointing.dropdown .menu>.item {
    padding: 0em;
    min-width: 25em;
}

.ui.form .ui.input>input {
    clear:both;
    width: 100% !important;
}

.ui.menu .ui.dropdown .menu>.item:hover, .ui.menu .ui.dropdown .menu>.selected.item {
    background: #fff !important;
}

.ui.pointing.dropdown>.menu:after {
    margin: 0 0 0 33%;
}

/* card */
.ui.card {
    width: 80%;
    margin: auto;
}

.ui.card .image {
    width: 80%;
    margin: auto;
}

/* Loged in icon */
.ui.circular.image {
    width: 3.386080em;
    height: 3.386080em;
    margin-right: 1em;
}

.ui.menu .right .item {
    padding: 0.5em 1em;
}

/* Cmmment*/
.ui.comments {
    max-width: 100%;
}

/* footer*/
.ui.footer.segment {
    margin-top: 2em;
}

/* signup page */
.ui.signup {
    max-width: 600px;
    margin: 11.5% auto;
}